html, body	{
	font-family: Georgia, 'Times New Roman', serif;
	font-size:1.2em;
	font-weight: 400;
	line-height: 1.3em;
	color: #333;
	margin:0px;
}

/* text styles */
h1, h2 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
}
h1 {
	font-weight: 700;
	padding:15px 0px;
	line-height: 1.1em;
}
h2 {
	font-weight: 500;
}
#main > p:first-of-type:first-letter { 
	float: left; 
	/*color: #F6780A; */
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: Georgia; 
}

/*highlighted prompt (with response)*/
.active-prompt {
	font-weight: normal;
	/*padding:3px;*/
    background-color: rgba(200,200,200,0.75);
	text-decoration: none;
	position:relative;
	display:inline;
}

.active-prompt:hover {
	background-color: rgba(156,196,198,0.5);
	cursor: pointer;
}

/* marginal indicator of where user has submitted responses */
.indicator {
	padding:0px 10px;
	display:inline-block;
	position: relative;
	left:105%;
	background-color: rgba(220,220,220,0.5);
	border-left: 1px solid #777;
	color: #555;
	font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    font-weight:700;
}

.indicator:hover {
	cursor:default;
}

.indicator + p {
	margin-top: -30px;
}

/* responses */
div.response {
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 0px 20px;
	border-left: 1px solid #ccc;
	display: none;
}
.response + .response {
    margin:40px 0px 0px 20px;
}

.response h2 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	font-size: 0.9em;
    font-weight:700;
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
.response h3 {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	font-size: 0.9em;
    font-weight:300;
    font-style: italic;
    margin: 0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}
.response p {
	margin:10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
}

/* drop down menu */
#chooser {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	font-size: 0.85em;
	/*display: none;*/
	border: 1px solid #ccc;
	position: absolute;
	box-shadow: 2px 2px 3px #999;
	-moz-box-shadow: 2px 2px 3px #999;
	-webkit-box-shadow: 2px 2px 3px #999;
	border-radius: 3px;
	border-width:0px;
	z-index:2000;
	margin:0px;
}
#chooser h2 {
	padding: 5px 10px;
	margin:0px 0px 0px 0px;
	font-size: 1em;
	background-color: #4A878A;
	color: #fff;
	border-width:0px;
}
#chooser h2:after {
	font-size: 0.6em;
	display: inline-block;
	margin: -10px 0px 0px 5px; 
	content: " \25BC";
}
#chooser h2:hover {
	cursor: pointer;
}
#chooser ul {
	margin:0px;
	padding:0px;
	list-style: none;
}
#chooser ul li {
	background-color: rgba(240,240,240,1);
	margin: 0px 0px 0px 0px;
	padding:5px 10px;
	border-bottom: 1px solid white;
}
#chooser ul li:last-child {
	border-bottom: none;
	margin-bottom: none;
}
#chooser ul li a {
	display: block;
	height: 100%;
	width:100%;
	text-decoration: none;
}
#chooser ul li:hover {
	background-color: #cde0e1;
} 

/* confirmation message */
#message {
/*	height: 30px;*/
	background-color: #cde0e1;
	/*margin:35px 0px 0px 0px;*/
	margin-top:37px;
	padding:7px 2.5%;
	display: none;
	z-index: 1;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	text-align: center;
	position:fixed;
	width:100%;
	top:0;
}

/* globals */
a:link, a:hover, a:visited {
	color:inherit;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear:both;
}
